.btn-rules {
  border: 2px solid $clr5;
  border-radius: 15px;
  width: 125px;
  height: 42px;
  letter-spacing: 2px;
  margin-right: 30px;
}

.btn-rules:hover {
  background-color: $clr6;
  color: palevioletred;
  border: 2px solid $clr6;
}