.empty-icon-container {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.empty-icon-inner-container {
  height: 75%;
  width: 75%;
  border-radius: 50%;
  background-color: #192542;
}

@include for-mobile-layout {
  .empty-icon-container {
    height: 120px;
    width: 120px;
  }
}