.game-mode-container {
    width: 80%;
    // align-items: center;
}

.upper-panel-container {
    width: 100%;
    justify-content: space-evenly;
    font-size: 26px;
    letter-spacing: 1.5px;
    margin: 60px 0;
}

.bottom-panel-container {
    width: 100%;
    justify-content: space-evenly;  
}